:root {
    --light-bgcolor: #ffffff;
    --header-bgcolor: #b4d0e7;
    --footer-bgcolor: #000000;
    --btn-bgcolor: #0061ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* #region Utility  */


/* to remove */

.red {
    background-color: rgb(253, 72, 72);
}

.blue {
    background-color: rgb(88, 88, 255);
}

.green {
    background-color: rgb(0, 124, 0);
}

.yellow {
    background-color: rgb(255, 255, 94);
}

.orange {
    background-color: rgb(255, 184, 52);
}

.violet {
    background-color: violet;
}

.h_80 {
    height: 80px;
}

.h_200 {
    height: 200px;
}

.h_300 {
    height: 300px;
}

.h_400 {
    height: 400px;
}

.h_600 {
    height: 600px;
}

.h_800 {
    height: 800px;
}

.h_1200 {
    height: 1200px;
}

.bord {
    border: 2px solid black;
}

.marg {
    margin: 2rem;
}

/* end to remove  */

.btn_small {
    background-color: var(--btn-bgcolor);
    color: var(--light-bgcolor);
    padding: 4px 13px;
}

.btn_big {
    background-color: var(--btn-bgcolor);
    color: var(--light-bgcolor);
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    font-size: small;
    font-weight: 600;
}

.underline:hover {
    text-decoration: underline;
}

.big_container {
    width: 1160px;
    margin-bottom: 2rem;
}

.small_container_top, .small_container_bottom {
    width: 972px;
}


/* *** Grid *** */


.row::after{
    content: '';
    display: table;
    clear: both;
}

.row {
    width: 100%; 
}

[class^="col_"] {
    float: left;
}

.col_20 {
    width: 20%;
}

.col_30 {
    width: 30%;
}

.col_33 {
    width: 33.3333%; 
}

.col_40 {
    width: 40%;
}

.col_50 {
      width: 50%;
}

.col_60 {
    width: 60%;
}

.col_100 {
    width: 100%; 
}


/* *** Text ***  */


.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}


.center {
    margin: 0 auto;
}



/* #endregion Utility  */



/* #region Common  */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* #endregion Common  */



/* #region ****---> Header <---**** */


.navbar .row {
    padding: 1rem;
  }

.navbar {
    background-color: var(--light-bgcolor);
}

.navbar img {
    width: 90px;
    vertical-align: middle;
}

.navbar a {
    font-size: 11px;
    margin: 0 1rem;
}


/* #endregion ****---> Header <---**** */


/* #region ****---> Main <---**** */

.title_dropbox_users {
    width: 1076px; 
}

.hero>.big_container {
    margin-bottom: 2rem;
}

.hero_title {
    padding: 2rem 2rem;
    font-size: 64px;
}

.hero_text {
    padding: 2rem;
}

.hero .col_40 .undo {
    padding: 1rem 2rem;
}

.hero .col_40 i {
    padding: 1rem 2rem;
    font-size: 33px;
}

/* #endregion ****---> Main <---**** */



/* #region ****---> Footer <---**** */

footer {
     background-color: var(--footer-bgcolor);
}

/* #endregion ****---> Footer <---**** */