:root {
    --light-bgcolor: #ffffff;
    --header-bgcolor: #b4d0e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* #region Utility  */


/* to remove */

.red {
    background-color: rgb(253, 72, 72);
}

.blue {
    background-color: rgb(88, 88, 255);
}

.green {
    background-color: rgb(0, 124, 0);
}

.yellow {
    background-color: rgb(255, 255, 94);
}

.orange {
    background-color: rgb(255, 184, 52);
}

.violet {
    background-color: violet;
}

.navbar .col_50 {
    height: 68px;
    margin: 5px 0;
    border: 1px solid black;
}

.h_80 {
    height: 80px;
}

.h_200 {
    height: 200px;
}

.h_300 {
    height: 300px;
}

.h_400 {
    height: 400px;
}

.h_600 {
    height: 600px;
}

.h_800 {
    height: 800px;
}

.h_1200 {
    height: 1200px;
}

.bord {
    border: 2px solid black;
}

/* end to remove  */

.row {
    content: '';
    display: table;
    clear: both;
    width: 90%; /* ******** TO CHANGE ** TO CHANGE *********** */
}

[class^="col_"] {
    float: left;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.col_33 {
    width: 33.3333%; 
}

.col_40 {
    width: 40%;
}

.col_50 {
      width: 50%;
}

.col_60 {
    width: 60%;
}

.col_100 {
    width: 100%; 
}

.center {
    margin: 0 auto;
}

.big_container {
    width: 1400px;
}

.small_container {
    width: 1200px;
}

  /* #endregion Utility  */

  /* #region ****---> Header <---**** */

  header {
    background-color: var(--header-bgcolor);
  }

  .navbar .col_50 {
      background-color: var(--light-bgcolor);
  }


  /* #endregion ****---> Header <---**** */


  /* #region ****---> Main <---**** */

  

  /* #endregion ****---> Header <---**** */